{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="col-12 mb-4 mb-md-0">
        <form action="{{ url_for('auth.process_register') }}" method="post">
            <div class="p-3 text-center">
                <h3>Create an account</h3>
            </div>
            {% if get_flashed_messages() %}
                <div class="alert alert-danger mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            {% endif %}
            <div class="p-3">
                <div class="input-group mb-3 border-bottom">
                    <span class="input-group-text border-0 bg-transparent">
                        <i class="bi bi-person"></i>
                    </span>
                    <input autocomplete="off" autofocus type="text" class="form-control rounded" placeholder="Username" name="username" id="username" value="{{ username }}" aria-label="Username"/>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3 border-bottom">
                            <span class="input-group-text border-0 bg-transparent">
                                <i class="bi bi-person"></i>
                            </span>
                            <input autocomplete="off" type="text" class="form-control rounded" placeholder="First Name" name="first-name" id="first-name" value="{{ first_name }}" aria-label="First Name"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3 border-bottom">
                            <span class="input-group-text border-0 bg-transparent">
                                <i class="bi bi-person"></i>
                            </span>
                            <input autocomplete="off" type="text" class="form-control rounded" placeholder="Last Name" name="last-name" id="last-name" value="{{ last_name }}" aria-label="Last Name"/>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3 border-bottom">
                    <span class="input-group-text border-0 bg-transparent">
                        <i class="bi bi-key"></i>
                    </span>
                    <input type="password" class="form-control rounded" placeholder="Password" name="password" id="password" aria-label="Password"/>
                    <span class="input-group-text border-0 bg-transparent">
                        <i class="bi bi-eye-slash" role="button" id="password-visible"></i>
                    </span>
                </div>
                <div class="input-group mb-3 border-bottom">
                    <span class="input-group-text border-0 bg-transparent">
                        <i class="bi bi-key"></i>
                    </span>
                    <input type="password" class="form-control rounded" placeholder="Confirm Password" name="confirm-password" id="confirm-password" aria-label="Confirm password"/>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto pb-3">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
        <div class="p-3 text-center">
            <p class="text-muted m-0">Already have an account? <a href="/login" style="text-decoration: none;">Sign in</a></p>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="../static/auth.js" type="text/javascript"></script>
{% endblock %}